<div id="summoner-search">
  <div class="container">
    <input type="text" class="input" (blur)="dispatchSearch($event)" placeholder="Consulte sua conta">
    <button class="search">Buscar</button>
  </div>

  <div class="data-user" *ngIf="resultUser">
    <div class="user-and-rank">
      <div class="field-user">
        <div class="icon-level">
          <img src="http://ddragon.leagueoflegends.com/cdn/12.16.1/img/profileicon/{{resultUser.profileIconId}}.png"
            alt="">
          <div class="position-level">
            <span class="level-user">{{resultUser.summonerLevel}}</span>
          </div>
        </div>
        <div class="info-user">
          <span class="name-user">{{resultUser.name}}</span>

        </div>
      </div>
      <div class="rank" *ngIf="rankUser">
        <img src=" ../../assets/ranks/Emblem_{{rankUser[0].tier}}.png" alt="">
        <span>{{rankUser[0].tier}} {{rankUser[0].rank}}</span>
        <span>{{rankUser[0].leaguePoints}} PDLs</span>
      </div>
    </div>
  </div>
  <div *ngIf="historicUser">
    <app-historic-user [historicUserData]="historicUser" [resultUserData]="resultUser">
    </app-historic-user>
  </div>
</div>
